{% extends "core_main_app/_render/user/theme_base.html" %}
{% load staticfiles %}

{% comment %}
<!--
	Arcana by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
{% endcomment %}

{% block theme_css %}
    <!--[if lte IE 8]><script src="{% static 'ie/html5shiv.js' %}"></script><![endif]-->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/menu.css' %}" />
    <link rel="stylesheet" href="{% static 'css/extra.css' %}" />
    <link rel="stylesheet" href="{% static 'css/btn_custom.css' %}" />

    <!--[if lte IE 9]><link rel="stylesheet" href="{% static 'ie/ie9.css' %}" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{% static 'ie/ie8.css' %}" /><![endif]-->
{% endblock %}
{% block theme_js %}
    <script src="{% static 'libs/skel/3.0.1/skel-3.0.1.js' %}"></script>
    <script src="{% static 'libs/jquery.dropotron/1.4.3/jquery.dropotron-1.4.3.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <!--[if lte IE 8]><script src="{% static 'ie/respond.min.js' %}"></script><![endif]-->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/btn_custom.js' %}"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
{% endblock %}

{% block title %}MDCS{% endblock %}
{% block body %}
    <div id="page-wrapper">
        {# Page header #}
        <div id="header">
            {% include 'theme/banner.html' %}
            {% include 'theme/menu.html' %}
        </div>

        <div id="content" class="container-fluid">
            {% block app_data %}{% endblock %}
        </div>

        {% include 'theme/footer.html' %}
    </div>
{% endblock %}