{% load staticfiles %}
{% load menu %}

<div id="footer">
    <div class="copyright">
        <ul class="menu">
            <li>Materials Data Curation System 2.0.0-alpha2 (2012 - {% now "Y" %})</li>
            <li>Designed by <a href="https://nist.gov"><img src="{% static 'img/logo_nist_black.png' %}" class="small-logo"/></a></li>
            {% block footer_menu %}
                {% generate_menu %}

                {% for item in menus.footer %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
            {% endblock %}
            <li>MDCS is on <a href="https://github.com/usnistgov/MDCS"><i class="fa fa-github"></i> Github</a></li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</div>